/*  Estilos css */
.body{
    display: flex;

}
@font-face {
    font-family: 'Regular';
    src: url(../fonts/Outfit-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
}

.Cards-component2{
    background-color: #000000;
    justify-content: center;
    padding: 2rem;
    padding-left: 5rem;
    margin-top: 5rem;
}
.contenedor{
    margin: auto;
    
}

.card{
    margin: 1rem;
    background-color: #15273f;
    width: 24rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
    
    border-radius: 1rem;
    padding: 2rem;
    display: grid;
}

.img{
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
    display: flex;
justify-content: center;
}
.flex-eth{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-day{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.avatar{
    width: 40px;
   height: 40px;
   border-radius: 2rem;
   margin-right: 1rem;
   margin-top: 5px;
   border: 0.8px solid white;

  
   

}
.tit{
    margin-top: 1rem;
    font-family: 'Regular';
    
   font-weight: 20px;
    font-size: 1.4rem;
    color: white;
    margin-bottom: 1.3rem;
    margin-top: 1rem;
}

.text-des{
    margin-top: 0.5rem;
    font-family: 'Regular';
    color: rgba(240, 246, 255, 0.568);
    margin-bottom: 1rem;
    font-weight: 300;
}
.text-des-w{
    margin-top: 0.5rem;
    font-family: 'Regular';
    color: rgb(255, 255, 255);
    font-weight: 1rem;
    margin-left: 0.2rem;
}
.flex-f{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.day{
    margin-top: 1rem;
    font-size: 20px;
    color: rgb(144,172,220)
    ;
   font-family: 'Regular'; }
.ethe{
    font-size: 1.3rem;
    margin-top: 1rem;
    color:rgb(8,252,252)
    ;
    
    font-weight: 3px;
    font-family: 'Regular';
    
}

.icon-eth{
    width: 15px;
   height: 20px;
   margin-right: 7px;
   
}
.icon{
    width: 25px;
   height: 25px;
   margin-right: 5px;
   
}
.separacion{
    list-style: none;
    background-color: rgba(240, 248, 255, 0.346);
    width: 20rem;
    height: 1px;
    border-radius: 2rem;
    align-items: center;
   
}
.text-f{
    margin-top: 5px;
    display: flex;
    align-items: center;
}